<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    {% for nav in site.nav %}
      {% assign is_relative = nav[1][0] | slice: 0 %}
      {% assign url = nav[1][0] %}
      {% if is_relative == '/' %}
        {% assign url = nav[1][0] | prepend: site.baseurl %}
      {% endif %}

      {% assign sub_len = nav[1] | size | minus: 1 %}

      <span class="{% if sub_len > 0 %}foldable{% endif %}">
        <a class="sidebar-nav-item {% if page.url == nav[1][0] %}active{% endif %}" href="{{ url }}">
          {{ nav[0] }}
        </a>

        {% for i in (1..sub_len) %}
          {% for sub_nav in nav[1][i] %}
            {% assign sub_is_relative = sub_nav[1] | slice: 0 %}
            {% assign sub_url = sub_nav[1] %}
            {% if sub_is_relative == '/' %}
              {% assign sub_url = sub_nav[1] | prepend: site.baseurl %}
            {% endif %}
              <a class="sidebar-nav-item sidebar-nav-item-sub {% if page.url == sub_nav[1] %}active{% endif %}" href="{{ sub_url }}">
                {{ sub_nav[0] }}
              </a>
          {% endfor %}
        {% endfor %}
      </span>

    {% endfor %}

    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
